#EXTM3U
#EXT-X-VERSION:3
#EXT-X-TARGETDURATION:13
#EXT-X-MEDIA-SEQUENCE:0
#EXTINF:10.000000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.7200.PNG
#EXTINF:7.800000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.7201.PNG
#EXTINF:9.720000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.7202.PNG
#EXTINF:5.680000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.7203.PNG
#EXTINF:1.080000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.7204.PNG
#EXTINF:4.560000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.7205.PNG
#EXTINF:3.280000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.7206.PNG
#EXTINF:2.560000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.7207.PNG
#EXTINF:6.720000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.7208.PNG
#EXTINF:7.120000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.7209.PNG
#EXTINF:1.320000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72010.PNG
#EXTINF:1.120000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72011.PNG
#EXTINF:9.720000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72012.PNG
#EXTINF:5.800000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72013.PNG
#EXTINF:3.000000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72014.PNG
#EXTINF:1.960000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72015.PNG
#EXTINF:2.560000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72016.PNG
#EXTINF:2.000000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72017.PNG
#EXTINF:1.280000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72018.PNG
#EXTINF:6.160000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72019.PNG
#EXTINF:1.360000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72020.PNG
#EXTINF:1.480000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72021.PNG
#EXTINF:1.520000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72022.PNG
#EXTINF:3.400000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72023.PNG
#EXTINF:4.280000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72024.PNG
#EXTINF:1.320000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72025.PNG
#EXTINF:6.240000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72026.PNG
#EXTINF:1.720000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72027.PNG
#EXTINF:2.040000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72028.PNG
#EXTINF:6.120000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72029.PNG
#EXTINF:3.360000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72030.PNG
#EXTINF:2.560000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72031.PNG
#EXTINF:4.200000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72032.PNG
#EXTINF:4.440000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72033.PNG
#EXTINF:7.800000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72034.PNG
#EXTINF:2.000000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72035.PNG
#EXTINF:2.480000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72036.PNG
#EXTINF:2.480000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72037.PNG
#EXTINF:6.920000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72038.PNG
#EXTINF:7.160000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72039.PNG
#EXTINF:2.520000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72040.PNG
#EXTINF:9.960000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72041.PNG
#EXTINF:2.280000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72042.PNG
#EXTINF:10.000000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72043.PNG
#EXTINF:5.320000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72044.PNG
#EXTINF:4.800000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72045.PNG
#EXTINF:2.040000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72046.PNG
#EXTINF:2.120000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72047.PNG
#EXTINF:2.200000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72048.PNG
#EXTINF:2.720000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72049.PNG
#EXTINF:4.720000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72050.PNG
#EXTINF:2.640000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72051.PNG
#EXTINF:1.400000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72052.PNG
#EXTINF:1.640000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72053.PNG
#EXTINF:3.560000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72054.PNG
#EXTINF:4.280000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72055.PNG
#EXTINF:2.000000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72056.PNG
#EXTINF:1.880000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72057.PNG
#EXTINF:5.120000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72058.PNG
#EXTINF:4.120000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72059.PNG
#EXTINF:2.720000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72060.PNG
#EXTINF:3.720000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72061.PNG
#EXTINF:4.240000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72062.PNG
#EXTINF:6.440000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72063.PNG
#EXTINF:3.080000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72064.PNG
#EXTINF:6.040000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72065.PNG
#EXTINF:1.720000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72066.PNG
#EXTINF:3.520000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72067.PNG
#EXTINF:3.160000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72068.PNG
#EXTINF:3.840000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72069.PNG
#EXTINF:6.520000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72070.PNG
#EXTINF:1.920000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72071.PNG
#EXTINF:3.880000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72072.PNG
#EXTINF:3.760000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72073.PNG
#EXTINF:5.760000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72074.PNG
#EXTINF:3.920000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72075.PNG
#EXTINF:2.920000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72076.PNG
#EXTINF:3.400000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72077.PNG
#EXTINF:4.640000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72078.PNG
#EXTINF:3.760000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72079.PNG
#EXTINF:5.240000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72080.PNG
#EXTINF:3.840000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72081.PNG
#EXTINF:4.160000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72082.PNG
#EXTINF:4.240000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72083.PNG
#EXTINF:5.120000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72084.PNG
#EXTINF:4.320000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72085.PNG
#EXTINF:5.280000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72086.PNG
#EXTINF:4.240000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72087.PNG
#EXTINF:3.200000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72088.PNG
#EXTINF:6.840000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72089.PNG
#EXTINF:7.360000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72090.PNG
#EXTINF:6.720000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72091.PNG
#EXTINF:1.520000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72092.PNG
#EXTINF:5.480000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72093.PNG
#EXTINF:3.240000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72094.PNG
#EXTINF:4.360000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72095.PNG
#EXTINF:2.280000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72096.PNG
#EXTINF:1.400000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72097.PNG
#EXTINF:4.040000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72098.PNG
#EXTINF:1.400000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.72099.PNG
#EXTINF:2.880000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720100.PNG
#EXTINF:7.280000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720101.PNG
#EXTINF:4.480000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720102.PNG
#EXTINF:7.320000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720103.PNG
#EXTINF:4.600000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720104.PNG
#EXTINF:1.440000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720105.PNG
#EXTINF:5.040000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720106.PNG
#EXTINF:4.120000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720107.PNG
#EXTINF:3.600000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720108.PNG
#EXTINF:3.480000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720109.PNG
#EXTINF:2.000000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720110.PNG
#EXTINF:4.280000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720111.PNG
#EXTINF:4.760000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720112.PNG
#EXTINF:3.160000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720113.PNG
#EXTINF:7.440000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720114.PNG
#EXTINF:2.080000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720115.PNG
#EXTINF:1.960000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720116.PNG
#EXTINF:1.840000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720117.PNG
#EXTINF:1.600000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720118.PNG
#EXTINF:8.440000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720119.PNG
#EXTINF:4.480000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720120.PNG
#EXTINF:5.360000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720121.PNG
#EXTINF:7.400000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720122.PNG
#EXTINF:1.640000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720123.PNG
#EXTINF:3.200000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720124.PNG
#EXTINF:1.960000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720125.PNG
#EXTINF:1.280000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720126.PNG
#EXTINF:1.440000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720127.PNG
#EXTINF:3.000000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720128.PNG
#EXTINF:4.520000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720129.PNG
#EXTINF:5.680000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720130.PNG
#EXTINF:3.520000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720131.PNG
#EXTINF:3.080000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720132.PNG
#EXTINF:3.880000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720133.PNG
#EXTINF:12.760000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720134.PNG
#EXTINF:5.640000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720135.PNG
#EXTINF:4.440000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720136.PNG
#EXTINF:2.160000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720137.PNG
#EXTINF:6.120000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720138.PNG
#EXTINF:2.440000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720139.PNG
#EXTINF:2.040000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720140.PNG
#EXTINF:10.000000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720141.PNG
#EXTINF:2.880000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720142.PNG
#EXTINF:7.960000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720143.PNG
#EXTINF:3.160000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720144.PNG
#EXTINF:5.880000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720145.PNG
#EXTINF:1.720000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720146.PNG
#EXTINF:1.440000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720147.PNG
#EXTINF:7.000000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720148.PNG
#EXTINF:5.600000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720149.PNG
#EXTINF:10.000000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720150.PNG
#EXTINF:6.360000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720151.PNG
#EXTINF:6.400000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720152.PNG
#EXTINF:3.240000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720153.PNG
#EXTINF:7.120000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720154.PNG
#EXTINF:1.600000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720155.PNG
#EXTINF:3.320000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720156.PNG
#EXTINF:1.160000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720157.PNG
#EXTINF:1.280000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720158.PNG
#EXTINF:3.560000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720159.PNG
#EXTINF:3.640000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720160.PNG
#EXTINF:2.600000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720161.PNG
#EXTINF:4.040000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720162.PNG
#EXTINF:3.000000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720163.PNG
#EXTINF:1.840000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720164.PNG
#EXTINF:4.120000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720165.PNG
#EXTINF:4.880000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720166.PNG
#EXTINF:3.520000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720167.PNG
#EXTINF:1.760000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720168.PNG
#EXTINF:4.000000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720169.PNG
#EXTINF:8.240000,
https://hls04.juyjuy4.site/hls04/d7a79ba06edf4a1d1476de840814bf33/ep.16.v0.1688679366.720170.PNG
#EXT-X-ENDLIST
