#EXTM3U
#EXT-X-VERSION:3
#EXT-X-TARGETDURATION:17
#EXT-X-MEDIA-SEQUENCE:0
#EXTINF:12.080,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/00_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:12.160,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/01_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:8.960,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/02_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:8.920,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/03_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:12.160,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/04_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:12.120,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/05_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:10.080,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/06_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:8.200,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/07_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:10.440,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/08_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:10.000,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/09_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:9.400,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/010_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:11.480,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/011_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:9.320,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/012_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:7.920,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/013_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:11.120,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/014_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:10.360,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/015_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:8.640,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/016_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:11.360,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/017_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:10.440,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/018_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:11.920,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/019_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:10.440,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/020_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:9.360,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/021_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:9.480,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/022_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:8.680,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/023_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:9.920,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/024_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:12.880,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/025_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:11.040,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/026_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:7.640,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/027_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:11.480,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/028_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:12.120,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/029_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.1.PNG
#EXTINF:10.760,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/030_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:11.800,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/031_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:10.880,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/032_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:9.240,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/033_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:8.400,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/034_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:12.160,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/035_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:11.400,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/036_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:10.680,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/037_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:9.840,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/038_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:9.760,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/039_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:11.080,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/040_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:11.320,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/041_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:11.040,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/042_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:12.160,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/043_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:12.160,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/044_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:9.760,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/045_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:8.160,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/046_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:10.360,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/047_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:10.560,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/048_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:10.760,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/049_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:10.640,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/050_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:9.120,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/051_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:10.800,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/052_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:11.400,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/053_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:8.960,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/054_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:11.040,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/055_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:9.160,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/056_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:10.160,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/057_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:10.480,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/058_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:10.960,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/059_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.2.PNG
#EXTINF:10.440,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/060_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.3.PNG
#EXTINF:11.720,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/061_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.3.PNG
#EXTINF:7.880,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/062_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.3.PNG
#EXTINF:11.680,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/063_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.3.PNG
#EXTINF:10.000,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/064_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.3.PNG
#EXTINF:8.240,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/065_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.3.PNG
#EXTINF:10.080,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/066_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.3.PNG
#EXTINF:10.480,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/067_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.3.PNG
#EXTINF:9.040,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/068_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.3.PNG
#EXTINF:10.440,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/069_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.3.PNG
#EXTINF:11.680,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/070_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.3.PNG
#EXTINF:12.600,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/071_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.3.PNG
#EXTINF:9.240,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/072_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.3.PNG
#EXTINF:9.000,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/073_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.3.PNG
#EXTINF:12.160,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/074_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.3.PNG
#EXTINF:12.160,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/075_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.3.PNG
#EXTINF:12.040,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/076_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.3.PNG
#EXTINF:16.181,
https://hls06.khcdn3.store/hls06/Confess-Your-Love-Ep10/077_gzc_1000117_0b53jybj4aacl4abwcmy3rsm6twdtzbafg2a.f321003.3.PNG
#EXT-X-ENDLIST
